# 持久化敏感数据（!! 永远不要提交 !!）
config/auth.json
config/.mi.token
config/config.yaml

# Python
__pycache__/
*.pyc
*.pyo

# 日志
logs/
*.log

# 环境
.env
venv/
.venv/

# Claude
.claude/

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml
